// Compile "main.scss" as "css/main.min.css"


/**
 * Add custom styles
 */

// 1. Overwrite MDL variables
$preferred_font:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$image_path: '../bower_components/material-design-lite/src/images';

/*
// MDL 1.x requires "quoted" RGB values: e.g. '63,81,181'
$color-primary: '$color-primary';
$color-primary-dark: '$color-primary-dark';
$color-accent: '$color-accent';
$color-primary-contrast: '$color-primary-contrast';
$color-accent-contrast: '$color-accent-contrast';
*/

// 2. Include custom variables
$color-gray-light: #9E9E9E;
$color-gray-lighter: #EFEFEF;

$preferred_font_serif:       Georgia, "Times New Roman", Times, serif;
$preferred_font_monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

// Media queries
$screen-xs-min:	480px;
$screen-sm-min:	768px;
$screen-md-min:	992px;
$screen-lg-min:	1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:	($screen-sm-min - 1);
$screen-sm-max:	($screen-md-min - 1);
$screen-md-max:	($screen-lg-min - 1);


/**
 * Import MDL source
 */

@import "bower_components/material-design-lite/src/material-design-lite.scss";


/**
 * General
 */

html, body {
	font-family: $preferred_font;
}

a {
	text-decoration: none;
}

.show {
	display: block;
}
.hide {
	display: none;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

form {
	.mdl-textfield {
		display: block;
	}
}


/* Layout */

.mdl-layout {
	
	.mdl-navigation__container {
		overflow: hidden;
		width: 100%;
	}
	
	.mdl-navigation {
	
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		padding: 0 24px;
		justify-content: space-between;

		.mdl-navigation__link {
			display: flex;
			flex-shrink: 0;
			font-weight: 500;
			font-size: 13px;
			height: 57px;
			text-transform: uppercase;
			opacity: 0.65;

			&:hover,
			&.is-active {
				opacity: 1;
			}
		}

	}
	
	&.is-small-screen {
		
		.mdl-navigation__container {
			height: 57px !important;
		}
		
		.mdl-navigation {
			height: 75px !important;
		}
		
		.mdl-layout__header-row {
			padding: 0 48px !important;
		}
		
		.scrollindicator {
			display: block;
		}
	}
	
	.scrollindicator {
		position: absolute;
		top: auto;
		bottom: 0;
		line-height: 57px;
		height: 57px;
		width: 48px;
		display: none;
		margin-right: 0;
		text-align: center;
		cursor: pointer;
		
		&.disabled {
			opacity: 0.12; 
		}
		
		&.scrollindicator--right {
			right: 0;
		}
		&.scrollindicator--left {
			left: 0;
		}
	}
	
}


/* Header */

#header {
	
	.mdl-layout__header-row {
		position: relative;
		
		&.mdl-layout__header-row--bottom {
			padding: 0;
		}
	}
	
	.mdl-layout-title img {
		height: 40px;
	}
}


/* Main */

#main {
	
	.content {
		max-width: 860px;
		min-height: 450px;
	}
	
	.blog-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
	}
	
}


/**
 * Wordpress customization
 */


/* If WP-Adminbar is visible */
body.admin-bar {
	
	#header nav.navbar-fixed-top {
		top: 32px;
	}
	
	.edit-link a {
		color: #FFF !important;
		font-weight: normal !important;
		text-decoration: none !important;
		
		&:before {
			content: "\270E";
			display: inline-block;
			margin-right: 5px;
		}
		
	}
}

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

// Credit: Nicolas Gallagher and SUIT CSS.
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
	padding-bottom: 75%;
}


/* Header */



/* Footer */

#footer {
	
	p {
		margin-top: 10px;
	}
	
}


/* Sidebar */

.widget-area {
	
	ul {
		list-style: none;
		padding: 0;
		
		li {
			
			* {
				margin: 0;
			}
			
		}
	}
	
}


/* Author */

.author-avatar {
	
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-description {
	
	h2, h3 {
		margin-top: 0;
	}
	
}


/* Posts */

.sticky {
	background-color: $color-gray-lighter;
}


.entry-meta,
.comment-meta {

	a {
		color: inherit;
		font-weight: inherit;
	}

	a.mdl-badge {
		color: $color-gray-light;

		&:after {
			right: -14px;
		}
	}

}

.entry-meta {
	margin-bottom: 5px;
}

.comment-meta {
	height: 40px;
}

.comment-form {
	
	.mdl-textfield {
		width: 100%;
	}
	
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
		
	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: 20px;

		> li.comment {
			padding-top: 10px;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $color-gray-light;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
	
}


/**
 * Responsive Design
 */

@media (max-width: $screen-sm-max) {
	
	#sidebar {
		margin-top: 60px;
	}
	
}