// Compile "main.scss" as "dist/main.css"


/**
 * Add custom styles
 * https://material.io/design/color
 *
 * https://material.io/develop/web/docs/getting-started
 * https://material.io/develop/web/theming/theming-guide
 * https://sass-lang.com/blog/the-module-system-is-launched
 */


// Default variable overrides: https://github.com/material-components/material-components-web/blob/master/packages/mdc-theme/README.md

$primary: #6200EE;
$secondary: #03DAC6;
$background: #FFF;

@use "@material/theme" with (
	$primary: $primary,
	$secondary: $secondary,
	$background: $background,
);

$on-primary: if(contrast-tone($primary) == "dark", #000, #FFF);
$on-secondary: if(contrast-tone($secondary) == "dark", #000, #FFF);

// Optional: Uncomment all components that are not needed to reduce the filesize
@use "@material/button/mdc-button";
@use "@material/button" as button;
@use "@material/button/mixins" as button-mixins;
@use "@material/button/variables" as button-variables;
@use "@material/card";
@use "@material/checkbox/mdc-checkbox";
@use "@material/form-field";
//@use "@material/chips/mdc-chips";
@use "@material/data-table/mdc-data-table";
@use "@material/data-table" as data-table;
@use "@material/data-table/mixins" as data-table-mixins;
@use "@material/data-table/variables" as data-table-variables;
//@use "@material/dialog/mdc-dialog";
//@use "@material/drawer/mdc-drawer";
//@use "@material/elevation/mdc-elevation";
//@use "@material/fab/mdc-fab";
@use "@material/floating-label";
@use "@material/icon-button/mdc-icon-button";
//@use "@material/image-list/mdc-image-list";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/list/mdc-list";
//@use "@material/menu/mdc-menu";
//@use "@material/menu-surface/mdc-menu-surface";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/radio/mdc-radio";
@use "@material/ripple/mdc-ripple";
@use "@material/select/mdc-select";
//@use "@material/slider/mdc-slider";
//@use "@material/snackbar/mdc-snackbar";
@use "@material/switch";
@use "@material/tab/mdc-tab";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/textfield/mdc-text-field";
@use "@material/theme/mdc-theme";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";


// 1. Include custom variables
$color-gray-dark: #212121;
$color-gray: #616161;
$color-gray-light: #9E9E9E;
$color-gray-lighter: #F1F3F4;

$text-color: $color-gray;

$link-hover-color: $color-gray-dark;

// 2. Overwrite MDC variables
$preferred_font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$preferred_font_serif: Georgia, "Times New Roman", Times, serif;
$preferred_font_monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$background: #FFF;
$surface: #FFF;
$on-surface: if(contrast-tone($surface) == "dark", #000, #FFF);

// Media queries
$screen-xs-min:	480px;
$screen-sm-min:	768px;
$screen-md-min:	992px;
$screen-lg-min:	1200px;

// Provide a maximum, so media queries don't overlap when required
$screen-xs-max:	($screen-sm-min - 1);
$screen-sm-max:	($screen-md-min - 1);
$screen-md-max:	($screen-lg-min - 1);

$gutter: 30px;


/**
 * General
 */

html,
body {
	font-family: $preferred_font;
}

body {
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	color: $text-color;
}

h1,
h2,
h3 {
	font-weight: normal;
	color: $color-gray-dark;
}

.small {
	font-size: small;
}

a {
	text-decoration: none;
}

.show {
	display: block;
}
.hide {
	display: none;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

img {
	vertical-align: middle;
}

hr {
	border: none;
	border-top: 1px solid $color-gray-lighter;
}

a {
	color: $text-color;

	&:hover,
	&[aria-current="page"] {
		color: $color-gray-dark;
	}
}


/* Layout */

.mdc-card {
	.mdc-card__primary {
		padding: 1rem;
	}

	.mdc-card__title-text {
		hyphens: auto;
		word-wrap: break-word;
	}
}


/* Header */

#header {
	.mdc-tab {
		color: $on-primary;
	}
	.mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			background-color: $on-primary !important;
			height: 4px;
		}
	}
	
	.mdc-top-app-bar__title {
		color: $on-primary;

		img {
			height: 40px;
		}
	}

	.mdc-text-field {
		display: flex;
		align-items: center;
		background-color: transparent;
		border-radius: 4px;
		transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
		will-change: background-color;

		&:hover,
		&.mdc-text-field--focused {
			background-color: #FFF;

			.mdc-text-field__input {
				width: 290px;
			}

			.mdc-icon-button,
			.mdc-text-field__input {
				color: $text-color;
			}
		}

		.mdc-text-field__input {
			width: 0;
			transition: width .15s cubic-bezier(.4, 0, .2, 1);
			will-change: width;
		}

		.mdc-icon-button,
		.mdc-text-field__input {
			color: #FFF;
		}

		.mdc-icon-button {
			height: 100%;

			&::before,
			&::after {
				background-color: transparent;
				border-radius: 4px;
			}
		}

		&.mdc-text-field--with-trailing-icon {
			.mdc-text-field__icon {
				bottom: 12px;
			}
		}
	}
}


/* Main */

#main {
	max-width: 1140px;

	.mdc-layout-grid__cell {
		padding: 0 1rem;
	}

	.blog-navigation,
	.post-navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
	}
}

.search-form {
	.mdc-text-field {
		padding-right: 0;
	}
}


/* Footer */

#footer {
	background-color: $color-gray-lighter;

	.copyright {
		display: inline-block;
		margin-right: 16px;
	}
	
	p {
		margin-top: 10px;
	}

	.widget-area,
	.mdc-list {
		padding: 0;

		li {
			margin: 10px 0;
		}
	}
	.mdc-list {
		display: inline-block;
		margin-top: 16px;

		li {
			display: inline-block;
			margin-right: 16px;
		}
	}
}


/**
 * WordPress customization
 */


/* If WP-Adminbar is visible */
body.admin-bar {
	#header.mdc-toolbar--fixed {
		top: 32px;
	}
	
	.edit-link a {
		&::before {
			content: "\270E";
			display: inline-block;
			margin-right: 5px;
		}
	}
}


/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

// Credit: Nicolas Gallagher and SUIT CSS.
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
	padding-bottom: 75%;
}

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}


/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}


/* Posts */

.sticky {
	background-color: $color-gray-lighter;
}

.entry-title {
	font-size: 3.5rem;
	color: $color-gray-dark;
}

.entry-meta,
.comment-meta {
	a.mdc-badge {
		color: $color-gray-light;

		&::after {
			right: -14px;
		}
	}
}

.entry-meta {
	font-size: small;
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $gutter 0;
	}
}

#comments {
	margin-top: $gutter;
}

.comment-meta {
	height: 40px;
}

.comment-form {
	.mdc-text-field {
		width: 100%;
		margin: 10px 0;
	}

	.form-submit {
		margin-top: 20px;
	}
}

.comment-notes {
	margin: 0;
}

.comment-reply-title {
	margin: $gutter 0 ($gutter * .5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
		
	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $gutter;

		> li.comment {
			padding-top: $gutter;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $color-gray-light;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}


/* WordPress Blocks */

// Improve consistency with WordPress Default Blocks (i.e. Columns, Gallery)

*,
*::before,
*::after {
	box-sizing: border-box;
}

figure {
	margin: 0;
}

// Buttons

.wp-block-button {
	@include button-mixins.core-styles;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;

	&.is-style-outline {
		.wp-block-button__link {
			@include button.outline-color(button-variables.$outline-color);
			@include button.outline-width(button-variables.$outlined-border-width);
			@include button.container-fill-color(transparent);
			@include button.ink-color($primary);
		}
	}

	.wp-block-button__link {
		@include button.container-fill-color($primary);
		@include button.ink-color($on-primary);
		@include button.density(button-variables.$density-scale);
		@include button.horizontal-padding(button-variables.$contained-horizontal-padding);
		@include button.shape-radius(button-variables.$shape-radius);
		@include button.disabled-container-fill-color(button-variables.$disabled-container-color);
		@include button.disabled-ink-color(button-variables.$disabled-ink-color);
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	@include data-table-mixins.core-styles;
	@include data-table.fill-color(data-table-variables.$fill-color);
	@include data-table.shape-radius(data-table-variables.$shape-radius);
	@include data-table.stroke-size(data-table-variables.$stroke-size);
	@include data-table.stroke-color(data-table-variables.$stroke-color);
	@include data-table.divider-color(data-table-variables.$divider-color);
	@include data-table.divider-size(data-table-variables.$divider-size);

	table {
		@include data-table.density(data-table-variables.$default-density-scale);
		border: 0;
		table-layout: fixed;

		thead {
			tr {
				@include data-table.header-row-fill-color(data-table-variables.$header-row-fill-color);
				@include data-table.header-row-text-color(data-table-variables.$header-row-text-color);

				th {
					box-sizing: border-box;
					border: none;
				}
			}
		}

		tbody {
			tr {
				@include data-table.row-text-color(data-table-variables.$row-text-color);
				@include data-table.row-fill-color(data-table-variables.$row-fill-color);

				td {
					@include data-table.cell-padding(
						$leading-padding: data-table-variables.$cell-leading-padding,
						$trailing-padding: data-table-variables.$cell-trailing-padding
					);
					box-sizing: border-box;
					border: none;
				}
			}
		}
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}


/**
 * Responsive Design
 */

@media (max-width: $screen-sm-max) {
	
	#main {
		.mdc-layout-grid__cell {
			padding: 0;
		}
	}

}

@media (max-width: $screen-xs-max) {
	
	#header {
		.mdc-text-field {
			&:hover,
			&.mdc-text-field--focused {
				.mdc-text-field__input {
					width: calc(100vw - 90px);
				}
			}
		}
	}

}